:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #f1f1f1;
}

[data-theme='dark'] {
  --bg-color: #1e1e1e;
  --text-color: #f9f9f9;
  --card-bg: #2b2b2b;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card {
  background-color: var(--card-bg);
}
